
<table width = 100% cellspacing=0 cellpadding=4>

  <tr bgcolor= #ffffff><td colspan="2"><span class="headline"><%=h @posting.headline %></span><br></td></tr>

  <tr bgcolor= #ffffff><td colspan="2">&nbsp;</tr></td>
</table>

<table width = 100%>
<tr><td>
<p>
  <%=h @posting.details %>blah blah blah
</p><br>
</td></tr></table>

<table width = 100% bgcolor=#eeeeff span class="listings">
<tr><td width=10% align="left">
  <b>Departure:  </b>
  </td>
  <td align="left">
     <%=h @posting.departure.strftime("%a %b %d %Y")%> 
  </td>
</tr>

<tr><td width=10% align="left">
  <b>Return:  </b>
  </td>
  <td align="left">
     <%=h @posting.return.strftime("%a %b %d %Y")%> 
  </td>
</tr>

<tr><td width=10% align="left">
  <b>Duration:  </b>
  </td>
  <td align="left">
   <% if @posting.duration ==1 %>
     <%=h @posting.duration%> day
   <% else %>
     <%=h @posting.duration%> days
   <%end %>
 
  </td>
</tr>

<tr><td width=10% align="left">
  <b>Organizer:  </b>
  </td>
  <td align="left">
     <%=h @posting.organizer%> days 
  </td>
</tr>
 

<tr><td width=10% align="left" >
  <b>Contact:  </b> 
  </td><td>
  <%=h @posting.contact %>  
 </td>
</tr>
</table>


<table width=100% span class="listings">
<tr><td><br>

<p>
  <i>Posted 
  <%=h @posting.created_at %></i>
</p>

<p>
  Posting Id:
  <%=h @posting.id %>
</p>
<p>
<%= link_to 'Back', cactus_flagged_postings_path %>
</p>
</td></tr>
</table>

