
<h2>Editing butterword</h2>

<%= error_messages_for :butterword %>

<% form_for([:cactus, @butterword]) do |f| %>

<p>
  <b>ID:</b>
  <%=h @butterword.id.to_s %>
</p>

  <p>
    <b>Name</b><br />
    <%= f.text_field :name %>
  </p>

  <p>
    <%= f.submit "Update" %>
  </p>
<% end %>

<%= link_to 'Show', cactus_butterword_path(@butterword) %> |
<%= link_to 'Back', url_for(:controller =>"cactus/butterwords", :action => "index") %>
<br><br>
<%= link_to 'Delete', [:cactus, @butterword], :confirm => 'Are you sure?', :method => :delete %>
