<table width = "<%= TABLE_WIDTH %>" align="center" border="0" cellspacing="0" cellpadding="0" bgcolor="#ffffff">


<table width = 100%>

<tr>
 <td width = 10% class="microtitle" align="center">&nbsp;</td>
 <% if @field_sort == "departure" %>
  <td width = 25% class="microtitle" align="center"><u>Sort by</u></td>
 <% else %>
  <td width = 25% class="microtitle" align="center">Sort by</td>
 <% end %>
  <% if @field_sort == "headline" %>
  <td width = 25% class="microtitle" align="center"><u>Sort by</u></td>
 <% else %>
  <td width = 25% class="microtitle" align="center">Sort by</td>
 <% end %>
  <% if @field_sort == "organizer" %>
  <td width = 25% class="microtitle" align="center"><u>Sort by</u></td>
 <% else %>
  <td width = 25% class="microtitle" align="center">Sort by</td>
 <% end %>
  <% if @field_sort == "duration" %>
  <td width = 25% class="microtitle" align="center"><u>Sort by</u></td>
 <% else %>
  <td width = 25% class="microtitle" align="center">Sort by</td>
 <% end %>
</tr>

  <tr span class="listings"> 
    <th>Id</th>

    <th><%= link_to image_tag ("../images/up.gif", :border=>0), cat_postings_index_path(@location,@category, :query=>@query, :month=>@month, :year=>@year, :field_sort=>"departure", :list_mode=>"ascending") %> Departure <%= link_to image_tag ("../images/down.gif", :border=>0), cat_postings_index_path(@location,@category, :query=>@query, :month=>@month, :year=>@year, :field_sort=>"departure", :list_mode=>"descending") %></th>

    <th><%= link_to image_tag ("../images/up.gif", :border=>0), cat_postings_index_path(@location,@category, :query=>@query, :month=>@month, :year=>@year, :field_sort=>"headline", :list_mode=>"ascending") %> Destination <%= link_to image_tag ("../images/down.gif", :border=>0), cat_postings_index_path(@location,@category, :query=>@query, :month=>@month, :year=>@year, :field_sort=>"headline", :list_mode=>"descending") %></th>

     <th><%= link_to image_tag ("../images/up.gif", :border=>0), cat_postings_index_path(@location,@category, :query=>@query, :month=>@month, :year=>@year, :field_sort=>"organizer", :list_mode=>"ascending") %> Organizer <%= link_to image_tag ("../images/down.gif", :border=>0), cat_postings_index_path(@location,@category, :query=>@query, :month=>@month, :year=>@year, :field_sort=>"organizer", :list_mode=>"descending") %></th>
 
     <th><%= link_to image_tag ("../images/up.gif", :border=>0), cat_postings_index_path(@location,@category, :query=>@query, :month=>@month, :year=>@year, :field_sort=>"duration", :list_mode=>"ascending") %> Duration <%= link_to image_tag ("../images/down.gif", :border=>0), cat_postings_index_path(@location,@category, :query=>@query, :month=>@month, :year=>@year, :field_sort=>"duration", :list_mode=>"descending") %></th>
     <th>Expiration Code</th>
  </tr>

<% cint = -1 %>
<% for posting in @postings %>
<% cint = cint*-1 %>
	<% if cint == -1 %>
  <tr>
	<% else %>
  <tr bbgcolor = #eeeeff bgcolor = #deffdd>
	<% end %>
    <td><%= posting.id %></td>
    <td><table><tr><td width=30%><%= h posting.departure.strftime("%a")%></td><td width=70%><%= h posting.departure.strftime("%b %d %Y")%></td></tr></table></td>
    <td><b><%= link_to posting.headline, posting %></b></td>
    <td><%= posting.organizer %></td>
    <td><%= posting.duration %> days</td>
    <td><%= posting.status %></td>

    <td><%= link_to 'Edit', edit_posting_path(posting) %></td>
    <td><%= link_to 'Delete', user_delete_path(@location, posting), :confirm => 'Are you sure?' %></td>
  </tr>
<% end %>
</table>

<br><br>

<span class="paginate">
  <%= will_paginate @postings, :params=>{:month=>@month, :year=>@year}%>

<br />


