<h1>Editing flag</h1>

<% form_for(@flag) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </p>
  <p>
    <%= f.submit "Update" %>
  </p>
<% end %>

<%= link_to 'Show', @flag %> |
<%= link_to 'Back', flags_path %>
