<h1>Listing flags</h1>

<table>
  <tr>
    <th>Name</th>
  </tr>

<% for flag in @flags %>
  <tr>
    <td><%=h flag.name %></td>
    <td><%= link_to 'Show', flag %></td>
    <td><%= link_to 'Edit', edit_flag_path(flag) %></td>
    <td><%= link_to 'Destroy', flag, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New flag', new_flag_path %>
