
<table width=100% bgcolor=#fff cellpadding="5" cellspacing="10">


<% form_for @posting, posting_update_path(@posting,@posting.key) do |f| %>

<tr >
  <td colspan="2">
	 <span class="linkdirections">Company Name</span><br>
   	 <%= f.text_field :organizer, :size => 30, :class=>"textField"%>
  </td>
</tr>

<tr>
  <td colspan="2">
	 <span class="linkdirections">Company Description  <%=@posting.email%></span><br>
   	 <%= f.text_area :details, :class=>"textField", :size=>"90x6" %>
  </td>
</tr>


<tr>
  <td colspan="2">
  <table  border="0" frame="void" cellpadding=5 bgcolor=#aaf>
           <tr bgcolor=#339><td colspan="2">
	   <font color=#fff size=4><b>You MUST link this post to a website.</b></font></td></tr>
	   <tr><td colspan="2">
           <p><SPAN STYLE="background-color: #ff3"><b>You may use your linkcode to link up to <i>any</i> 10 active posts at a time.</b></span></p>

<table bgcolor=#ffffff><tr><td>

 Here is my linkcode and linkcode email address, and the site that I wish my post to link to!  <br><%= link_to "<b>Don't have a linkcode?  <u>CLICK HERE</u></b>", linkcodes_path(@location)  %><br><br>

<table>
<tr><td>
</b>Url:</b> 
</td>

<td>
<% fields_for :weblink do |s| %>
  <%=s.text_field :address, :size => 30, :class=>"textField"%>
<% end %>
</td></tr>


<tr><td>
</b>Linkcode:</b>
</td><td><%= f.text_field :linkcode, :size => 16, :class=>"textField"%>
</td></tr>

<tr><td>Linkcode Email:</td>
<td><%= f.text_field :linkemail, :size => 30, :class=>"textField"%>
</td></tr>

</table>


</td></tr></table>
</td></tr></table>

</td></tr>
 


<tr><td colspan="2">


    <%= f.hidden_field :subcategory_id, :value => @subcategory.id %>
    <%= f.hidden_field :postlink, :value => 1 %>
    <%= f.hidden_field :email, :value => @posting.email %> 
    <%= f.hidden_field :email_confirmation, :value => @posting.email %>
<span class="options"><br> By placing this ad I agree to the terms of use.</span></b>
  <p>
    <%= f.submit "update" %>    	
  </p>
<% end %>

</td></tr></table>




 
