
<table cellspacing=10 cellpadding=5><tr><td bgcolor=#fcf><h2>Your listing is NOT live yet!</h2></td></tr>
<tr><td>
<span class="mlinkdirections">

<br>
To make your ad live, please click the link in the email that we will send to <i><%=h @posting.email %></i>. 
<br><br>**If you do not see an email from us in 5 to 10 minutes, please check your spam folders as some email programs automatically move emails
containing links to a bulk or trash folder.  
<br><br>Thank you for posting on the CHARTERZOO!


</td></tr></table>


<p>
  <b>Posting Id:</b>
  <%=h @posting.id %>
</p>

<p>
  <b>Headline:</b>
  <%=h @posting.headline %>
</p>

<p>
  <b>Details:</b>
  <%=h @posting.details %>
</p>

<p>
  <b>Organizer:</b>
  <%=h @posting.organizer %>
</p>

<p>
  <b>Contact:</b>
  <%=h @posting.contact %>
</p>

<p>
  <b>Link:</b>
  <%=h @posting.url %>
</p>

<p>
  <b>Email:</b>
  <%=h @posting.email %>
</p>

<p>
  <b>Display Email:</b>
  <%=h @posting.display_email %>
</p>

<p>
  <b>Departure:</b>
  <%=h @posting.departure %>
</p>

<p>
  <b>Return:</b>
  <%=h @posting.return %>
</p>

<p>
  <b>Duration:</b>
  <%=h @posting.duration %>
</p>

<p>
  <b>Subcategory:</b>
  <%=h @posting.subcategory_id %>
</p>


<p>
  <b>Key:</b>
  <%=h @posting.key %>
</p>


<p>
  <b>Ipn:</b>
  <%=h @posting.ipn_id %>
</p>

<p>
  <b>Validated:</b>
  <%=h @posting.validated %>
</p>

<p>
  <b>Postlink:</b>
  <%=h @posting.postlink %>
</p>

<p>
  <b>Ipn postings count</b>

    <% if -99 != @posting.ipn_id %>
      <% @ipn = Ipn.find(@posting.ipn_id) %>
      <%=h @ipn.postings_count %>
    <% end %>
</p>

<p>
Your ad is NOT live yet!

To make your ad live, you can click the link in the email that will be sent to steve.almos@yahoo.com. If you do not receive an email from us in 5 to 10 minutes, see our help section for a possible solution.

Or...

You can login to your account and locate your pending ad. Click the Verify link in the far right column. If you don't have an account, you can sign up for one by clicking here.

*Notice* Some email programs automatically move emails containing links to a bulk or trash folder. Be sure to check these folders if you cannot find the email. To further ensure the delivery of your Verification Email(s) directly to your inbox, add support@backpage.com to your address book.


To post another ad, click here.

To post this ad in Spanish on espanol.sandiego.backpage.com, click here.

To post an ad in multiple cities, click here.

</p>

<%= link_to 'Edit', edit_posting_path(@posting) %> |
<%= link_to 'Back', postings_path %>
