<table width = "<%= TABLE_WIDTH %>" align="center" border="0" cellspacing="0" cellpadding="0" bgcolor="#ffffff">


<table width = 100%>

<tr bgcolor=#fff>
 <td width = 10% class="microtitle_white" align="center">&nbsp;</td>
 <% if @field_sort == "departure" %>
  <td width = 25% align="center" class="microtitle_white">Sort by</span></td>
 <% else %>
  <td width = 25% class="microtitle" align="center">Sort by</span></td>
 <% end %>
  <% if @field_sort == "headline_sort" %>
  <td width = 25% align="center" class="microtitle_white">Sort by</span></td>
 <% else %>
  <td width = 25% class="microtitle" align="center">Sort by</td>
 <% end %>
  <% if @field_sort == "organizer_sort" %>
  <td width = 25% align="center" class="microtitle_white">Sort by</span></td>
 <% else %>
  <td width = 25% class="microtitle" align="center">Sort by</td>
 <% end %>
  <% if @field_sort == "duration" %>
  <td width = 25% align="center" class="microtitle_white">Sort by</span></td>
 <% else %>
  <td width = 25% class="microtitle" align="center">Sort by</td>
 <% end %>
</tr>

  <tr span class="listings_header"> 
    <th>Id</th>

    <th><font size=5><%= link_to "&uarr;", cat_postings_index_path(@location,@category, :query=>@query, :month=>@month, :year=>@year, :field_sort=>"departure", :list_mode=>"ascending") %></font> Departure <font size=5><%=link_to "&darr;", cat_postings_index_path(@location,@category, :query=>@query, :month=>@month, :year=>@year, :field_sort=>"departure", :list_mode=>"descending") %></font></th>

    <th><font size=5><%= link_to "&uarr;", cat_postings_index_path(@location,@category, :query=>@query, :month=>@month, :year=>@year, :field_sort=>"headline_sort", :list_mode=>"ascending") %></font> Destination <font size=5><%=link_to "&darr;", cat_postings_index_path(@location,@category, :query=>@query, :month=>@month, :year=>@year, :field_sort=>"headline_sort", :list_mode=>"descending") %></font></th>

     <th><font size=5><%= link_to "&uarr;", cat_postings_index_path(@location,@category, :query=>@query, :month=>@month, :year=>@year, :field_sort=>"organizer_sort", :list_mode=>"ascending") %></font> Organizer <font size=5><%=link_to "&darr;", cat_postings_index_path(@location,@category, :query=>@query, :month=>@month, :year=>@year, :field_sort=>"organizer_sort", :list_mode=>"descending") %></font></th>
 
     <th><font size=5><%= link_to "&uarr;", cat_postings_index_path(@location,@category, :query=>@query, :month=>@month, :year=>@year, :field_sort=>"duration", :list_mode=>"ascending") %></font> Duration <font size=5><%=link_to "&darr;", cat_postings_index_path(@location,@category, :query=>@query, :month=>@month, :year=>@year, :field_sort=>"duration", :list_mode=>"descending") %></font></th>
     <th>Status</th>
  </tr>

</span><span class="listings">
<% cint = -1 %>
<% for posting in @postings %>
<% cint = cint*-1 %>
	<% if cint == -1 %>
  <tr>
	<% else %>
  <tr bgcolor = #<%=TRIP_COLOR %>>
	<% end %>
    <td><%= posting.id %></td>
    <td><table><tr><td width=100%><%= h posting.departure.strftime("%b %d %Y")%> &nbsp;&nbsp;<%= h posting.departure.strftime("%a")%>
       </td></tr></table></td>
    <td><b><%= link_to posting.headline, posting %></b></td>
    <td><%= h posting.organizer %></td>
    <td><%= h posting.duration %> days</td>
    <td><%= h posting.list_status %></td>
    <td><%= link_to 'Delete', user_delete_path(@location, posting), :confirm => 'Are you sure?' %></td>
    <td><%=link_to "edit", posting_edit_path(posting,posting.key)%></td>
  </tr>
<% end %>
</table>

<br><br>

<span class="paginate">
  <%= will_paginate @postings, :params=>{:month=>@month, :year=>@year}%>

<br />


